@model IEnumerable<EMSProj.Loan>

@{
    ViewBag.Title = "Loan List";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Loan Request List</h2>


<div style="margin:0;width:100%;border:2px solid Green;padding:20px;">
 <h3>Requests For Loan</h3>
    <hr />
    <table class="table">
        <tr>
            <th>
                Request Date
            </th>
            <th>
                Request Amount
            </th>
            <th>
                Approval Date
            </th>
            <th>
                Loan Start Date
            </th>
            <th>
                Loan Amount
            </th>
            <th>
                Emp#
            </th>
            <th>
                #of Installments
            </th>
            <th>
                Loan Status
            </th>
            <th>
               Remarks
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.requestDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.requestAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.approvalDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loanStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loanAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.empId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.noOfInsatllments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.loanStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.remarks)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditLoan", new { id = item.loanId })
                </td>
            </tr>
        }

    </table>
    </div>
