@model EMSProj.CollectionViewModels.CollectionofAll

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Employee.cshtml";
}

<h2>My Information</h2>

<div>
    <h4>Information</h4>
    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            Name : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName) @Html.DisplayFor(model => model.Employee.LastName)
        </dd>

        <dt>
            Date of Birth
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.DateofBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Gender)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Rank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rank.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>

        <dt>
            Department
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            Joining Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.DateofJoining)
        </dd>

        

        <dt>
            CNIC
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Cnic)
        </dd>

       

    </dl>
</div>
<p style="margin-left:10px;">
    
    @Html.ActionLink("Edit", "Edit", new { id = Model.Employee.empId } , new { @class = "btn btn-success" })

</p>
