@model EMSProj.CollectionViewModels.EmployeeLoanCollectionViewModel

@{
    ViewBag.Title = "Loan Status";
    Layout = "~/Views/Shared/_Employee.cshtml";
}

<h2>Loan Status</h2>

<div>
    <h4>Loan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName) @Html.DisplayFor(model => model.Employee.LastName)
        </dd>

        <dt>
            Request Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loan.requestDate)
        </dd>

        <dt>
            Request Amount
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loan.requestAmount)
        </dd>

        <dt>
            Status 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loan.loanStatus)
        </dd>

        <dt>
            Approval Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loan.approvalDate)
        </dd>

        <dt>
            Loan Start Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loan.loanStartDate)
        </dd>

        <dt>
            Loan Amount
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loan.loanAmount)
        </dd>



        <dt>
            Installment Plan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loan.noOfInsatllments)
        </dd>



        <dt>
            Remarks
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loan.remarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Loan.loanId }, new { @class = "btn btn-success" })
    <br />
    @Html.ActionLink("Back to List", "LoanList")

</p>
