@model IEnumerable<EMSProj.Rank>

@{
    ViewBag.Title = "RankList";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>RankList</h2>

<p>
    @Html.ActionLink("Create New", "AddRank")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditRank", new { id = item.rankId }) |
                @Html.ActionLink("Delete", "DeleteRank", new { id = item.rankId })
            </td>
        </tr>
    }

</table>
