<!DOCTYPE html>
<html>
<head>
    <title>

        @ViewBag.Title - EMS

    </title>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="icon-web.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/styles.css">
    <link rel="stylesheet" href="~/Content/styleHome.css">

    <script>
        function go(loc) {
            document.getElementById('calendar').src = loc;
        }
    </script>

</head>
<body>
    <!-- Just an image -->

    <div class="no-margin">
        <ul class="rounded " id="roundcorners">

            <p style="text-align:center;">
                <a class="navbar-brand align-center" href="mainpage.html">
                    <img src="~/Content/Pics/Admin.png" class="center-image" alt="Learn HTML & CSS">
                </a>
            </p>

            <hr />
            <p style="text-align:center;"> EMPLOYEE </p>
            <hr />

            <li>@Html.ActionLink("DASHBOARD", "Index", "Employee", null, new { @class = "active" })</li>
            <hr>
            <p style="text-align:center;"> MANAGE </p>
            <hr>
            <li>@Html.ActionLink("LOAN", "AddLoan", "Employee")</li>
            <li>@Html.ActionLink("LOAN STATUS", "LoanList", "Employee")</li>
            
            
            <li>&nbsp; </li>
            <li> &nbsp;</li>
            <li> &nbsp;</li>
            <li>&nbsp;</li>
            <li>@Html.Partial("_LoginPartial")</li>
        </ul>
        
    </div>

    <div id="roundcorners" style="width:73%; margin-left:25%;padding:1px 16px;height:1000px; border: none;">
        @RenderBody()
    </div>


</body>
</html>